header {
  padding: 70px;
  background-color: antiquewhite;
}

.header__container {
  display: flex;
  justify-content: space-between;

  img {
    height: 75px;
    width: 75px;
  }
}

.header__btn {
  padding: 25px 50px;
}

.btn-create-visit {
  display: none;
}